/* universal styles */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Helvetica;
    min-height: 100vh;
    background-image: linear-gradient(25deg, #083237, #195440, #237947, #2ba04d);
}
button {
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 12px;
    background-color: rgb(63, 146, 182);
    color: white;
    padding: 10px 30px;
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
.show-back {
    width: 105px;
}
.disappear-class {
    display: none !important;
}

/* start page -------------------------------*/
#start-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(
         closest-side, 
        rgb(64, 125, 87),
        rgb(42, 88, 72),
        rgb(31, 66, 53),
        rgb(24, 51, 41)
    );
}
#start-button {
    font-size: 50px;
    padding: 15px 32px;
}

/* main ---------------------------------------*/
main {
    min-height: 100vh;
    background-image: linear-gradient(25deg, #083237, #195440, #237947, #2ba04d);
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto;
}
/* ---------------play zone------------------- */
#play-zone {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 30% 40% 30%;
    justify-content: center;
    align-items: center;
}
/* --------------------------------player cell */
#player-cell, #dealer-cell {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;    
}

/* --------------------------------middle cell */
/* bet-buttons */
#bet-buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-gap: 50px;
}
#bet-buttons > input {
    width: 150px;
    cursor: pointer; 
    border: hidden 1px transparent;
    border-radius: 50%;
}
#bet-buttons > input:hover {
    box-shadow: 0px 50px 50px rgb(229, 245, 3);
}
/* play buttons */
#play-buttons {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-gap: 50px;
}
#play-buttons button {
    font-size: 50px;
}

/* last page */
#last-page {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    grid-gap: 50px;
}
h1 {
    grid-column: span 2;
    text-align: center;
    font-size: 50px;
    color: white;
    margin: 10px;
}
#last-page button {
    font-size: 40px;
}

/* ---------------msg zone-------------------- */
#msg-zone {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#msg-zone > div * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}
#dealer-total > span, #player-total > span {
    border: solid 5px grey;
}

#remaining-cards > img {
    width: 80px;
}
