/* universal styles */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Helvetica;
    min-height: 100vh;
    background-image: linear-gradient(25deg, #083237, #195440, #237947, #2ba04d);
}
button {
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 12px;
}
.disappear-page {
    display: none !important;
}





/* start page */
#start-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(
         closest-side, 
        rgb(64, 125, 87),
        rgb(42, 88, 72),
        rgb(31, 66, 53),
        rgb(24, 51, 41)
    );
}
#start-button {
    font-size: 50px;
    color: white;
    background-color: rgb(63, 146, 182);
    padding: 15px 32px;
}
#start-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/* game page div */
#game-page {
    min-height: 100vh;
    background-image: linear-gradient(25deg, #083237, #195440, #237947, #2ba04d);
    display: grid;
    grid-template-columns: auto 20% 10%;
    grid-template-rows: auto;
}
/* play zone */
#play-zone {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 35% 15% 35% 15%;
}
#dealer-cards {
    background-color: blue;
}
#game-controller {
    background-color: transparent;
}
#player-cards {
    background-color: blue;
}
#bet-controller {
    background-color: transparent;
}
/* buttons-zone */
#buttons-zone {
    background-color: lightskyblue;
    display: grid;
    grid-template-columns: 50%v 50%;
    grid-template-rows: 238.55px 128.45px;
}
/* message-zone */
#message-zone {
    background-color: transparent;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    justify-content: center;
    align-items: center;
    text-emphasis: center;
    font-size: 30px;
}
.message-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
} 
#player-total-number, #dealer-total-number {
    border: white 1px solid;
    font-size: 40px;
    padding: 5px;
}
#remaining-cards-pic {
    width: 50px;
}


